# Misc
.DS_Store

# Compiled output
nvim/plugin/packer_compiled.lua

# Shell
fish/fish_variables
fish/completions/*.fish
!fish/completions/srcd.fish
fish/functions/*/

# OpenTofu/Terraform
terraform.tfvars
terraform.tfstate*
.terraform
