# Blacklist files/folders in same directory as the .gitignore file
/*
lazygit/state.yml


# Whitelist files
!.gitignore
!README.md


# Exclude folders
!nvim/
!alacritty/
!kitty/
!lazygit/


# Compiled output
nvim/plugin/packer_compiled.lua
