# Blacklist files/folders in same directory as the .gitignore file
/*


# Whitelist files
!.gitignore
!README.md


# Exclude folders
!nvim/
!alacritty/
!kitty/


# Compiled output
nvim/plugin/packer_compiled.lua
